@font-face {
    font-family: gothamBook;
    src: url(../fonts/gotham-book.otf);
}
@font-face {
    font-family: gothamBold;
    src: url(../fonts/botham-bold.otf);
}
@font-face {
    font-family: gothamMedium;
    src: url(../fonts/gotham-medium.otf);
}
@font-face {
    font-family: gothamLight;
    src: url(../fonts/gotham-light.otf);
}
body {
	font-family: gothamBook;
	font-size: 14px;
	color: #636363;
	background: #fff;
}
img {
	max-width: 100%;
}
a {
	text-decoration: none;
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
}
h1,h2,h3,h4,h5,h6 {
	font-family: gothamMedium;
}
.form-control:focus {
	box-shadow: none;
	outline: none;
}
.fw-bold {
	font-family: gothamBold;
}
.fw-light {
	font-family: gothamLight;
}
.fw-medium {
	font-family: gothamMedium;
}
.fw-regular {
	font-family: gothamBook;
}
a.more {
	display: inline-block;
	color: #e3007a;
	border: 1px solid #e3007a;
	padding: 10px 20px;
	text-transform: uppercase;
	border-radius: 5px;
	background: #fff;
	line-height: 100%;
}
a.more:hover {
	background: #e3007a;
	color: #fff;
}
section {
	padding: 40px 0;
	position: relative;
}
section .sectionHeading {
	font-size: 30px;
	margin-bottom: 25px;
}
section .sectionHeading.style-2 {
	color: #464646;
}
section .sectionHeading.style-2:first-letter {
	color: #e6571d;
}
section .sectionSubHeading {
	font-family: gothamLight;	
	font-size: 20px;
}
.mw-700 {
	max-width: 700px;
	margin: 0 auto;
}
.underline {
	text-align: center;
	position: relative;
	padding-bottom: 10px;
}
.underline:before {
	content: "";
	position: absolute;
	width: 50px;
	height: 2px;
	background: #e3007a;
	left: 50%;
	transform: translateX(-50%);
	bottom: 0;
}
.textPink {
	color: #e3007a;
}
.text-blue {
	color: #0399b5;
}
.bg-grey {
	background: #f3f3f3;
}
.whiteBox {
	padding: 15px 20px;
	border-radius: 5px;
	background: #fff;
}
.greyBox {
	padding: 15px 20px;
	border-radius: 5px;
	background: #484c72;
	color: #fff;
}
.btn {
	padding: 12px 25px;
	border-radius: 50px;
	font-family: gothamMedium;
}
.btn.sm {
	border-width: 1px;
    font-family: 'gothamBook';
    padding: 8px 20px;
}
.btn.xs {
	border-width: 1px;
    font-family: 'gothamBook';
    padding: 0 6px;
    font-size: 14px;
}
.btnOutlineRed {
	background: #fff;
	border: 2px solid #e3007a;
	color: #e3007a;	
}
.btnOutlineRed:hover {
	color: #e3007a;	
}
.btnOutlineBlue {
	background: #fff;
	border: 2px solid #0399b5;
	color: #0399b5;	
}
.btnOutlineBlue:hover {
	color: #0399b5;	
}
.btnRed {
	background: #e3007a;
	border: 2px solid #fff;
	color: #fff;	
}
.btnBlue {
	background: #0399b5;
	color: #fff;
}
.btnGrad {
	color: #fff;
	font-size: 14px;
	text-transform: uppercase;
	font-family: gothamBook;
	padding: 10px;
	line-height: 100%;
	cursor: pointer;
	border-radius: 5px;
	transition: 0.5s;
	background-size: 200% auto;
	background-image: linear-gradient(to right, #e6571d 0%, #ffa133  51%, #eb870e  100%);
}
.btnGrad:hover {
	color: #fff;
	background-position: right center;
}
.btnGrad .fas {
	margin: 0 10px;
}
.progress {
	background: #8a8a8a;
	height: 10px;
}
.progress,
.progress .progress-bar {
	border-radius: 20px;
}
ul.style-1 {
	margin-left: -15px;
}
ul.style-2 li {
	list-style: none;
	position: relative;	
	padding-left: 30px;
}
ul.style-2 li:not(:last-child) {
	margin-bottom: 10px;
}
ul.style-2 li:before {
	content: "";
	display: inline-block;
	transform: rotate(45deg);
	height: 15px;
	width: 10px;
	border-bottom: 2px solid #23253a;
	border-right: 2px solid #23253a;
	position: absolute;
	left: 5px;
	top: -2px;
}
table.v-align-middle td,
table.v-align-middle th {
	vertical-align: middle;
}
.bgArrow:before {
	content: "";
	position: absolute;
	display: block;
	left: 50%;
	transform: translateX(-50%);
	top: 100%;
    width: 70px;
    height: 30px;
    z-index: 1;
}
.bgWhite {
	background: #fff;
}
.bgWhite.bgArrow:before {	
	background: url(../img/arrow-section-white.png) no-repeat center center / contain;
}
.bgGrey {
	background: #f3f3f3;
}
.bgGradPurple {
	background: linear-gradient(90deg, #3d107b 0%, #6b0876 51%, #920071 100%);
}
.bgGradBlue {
	color: #fff;
	background: rgb(0,170,147);
	background: linear-gradient(90deg, rgba(0,170,147,1) 0%, rgba(3,152,181,1) 50%, rgba(0,127,151,1) 100%);
}
.bgGradBlue.bgArrow:before {	
	background: url(../img/arrow-section-gradblue.png) no-repeat center center / contain;
}
.bgLightBlue {
	background: #e5f5f7;
}
.bgLightBlue.bgArrow:before {	
	background: url(../img/arrow-section-lightblue.png) no-repeat center center / contain;
}
.listFeatures {
	border: 1px solid #c2c2c2;
	border-radius: 5px;
	padding: 15px 0;
	text-align: center;
}
.listFeatures .item {
	padding: 10px;
	color: #23253a;
}
.listFeatures .item:not(:last-child) {
	border-right: 1px solid #c2c2c2;
}
.timeline {
	border-left: 2px solid #e3007a;
}
.timeline li {
	position: relative;
	padding-left: 20px;
	font-family: 'gothamMedium';
}
.timeline li:not(:last-child) {
	margin-bottom: 15px;
}
.timeline li:before {
	content: "";
	position: absolute;
	left: -5px;
	top: 5px;
	width: 8px;
	height: 8px;
	background: #e3007a;
	border-radius: 50%;
}
.nav-tabs {
	border: 1px solid #c2c2c2;
	border-radius: 5px;
	background: #fff;
}
.nav-tabs .nav-item:first-child button {
	border-radius: 5px 0 0 5px;
}
.nav-tabs .nav-item:last-child button {
	border-radius: 0 5px 5px 0;
}
.nav-tabs .nav-item:not(:last-child) {
	border-right: 1px solid #c2c2c2;
}
.nav-tabs .nav-item .nav-link {
	display: block;
	width: 100%;
	border: none;
	margin-bottom: 0;
	background: none;
	color: #23253a;
	font-family: gothamBold;
	text-transform: uppercase;
	padding: 25px 10px;
}
.nav-tabs .nav-item .nav-link.active {
	background: #f3f3f3;
	color: #e3007a;
}
/*========================== HEADER ==========================*/
header .top {
	padding: 10px 30px;
	background: #0399b5;
}
header .top .link a {
	display: inline;
	color: #fff;
	border: 1px solid #00d1e7;
	border-radius: 50px;
	padding: 10px 20px;
	margin: 0 10px;
}
header .top .search {
	border: 1px solid #05c5d9;
	border-width: 0 1px 0 1px;
	padding: 0 25px;
	margin: 0 20px;
}
header .top .search i {
	display: inline-flex;
	width: 36px;
	height: 36px;
	color: #fff;
	border: 1px solid #fff;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
	font-size: 18px;
}
header .top .language .btn {
	color: #fff;
	padding: 0;
	font-family: gothamBook;
}
header .top .language .btn i {
	font-size: 30px;
	vertical-align: middle;
	margin-left: 5px;
}
header .top .dropdown-toggle::after {
	position: absolute;
	bottom: 0;
	left: 25px;
}
header .navbar {
	background: #fff;
	padding: 0 30px;
}
header .navbar .navbar-brand img {
	width: 200px;
}
header .navbar.navbar-expand-lg .nav-link {
	padding: 20px;
	color: #636363;
	font-family: gothamMedium;
	position: relative;
}
header .navbar.navbar-expand-lg .nav-link:before {
	content: "";
	position: absolute;
	width: 100%;
	height: 2px;
	background: #e3007a;
	left: 0;
	bottom: 0;
	opacity: 0;
	display: none;
}
header .navbar.navbar-expand-lg .nav-link:hover,
header .navbar.navbar-expand-lg .nav-link.active {
	background: #0399b5;
	color: #fff;
}
header .navbar.navbar-expand-lg .nav-link:hover:before {
	opacity: 1;
	display: block;
}
header .navbar-nav .dropdown-menu {
	background: rgba(3, 153, 181, .8);
	border-radius: 0;
	margin: 0;
	padding: 0;
}
header .navbar-nav .dropdown-menu .dropdown-item {
	color: #fff;
	font-size: 14px;
	padding: 10px 20px 10px 15px;
	border-left: 5px solid transparent;
}
header .navbar-nav .dropdown-menu .dropdown-item:hover {
	background: #fff;
	color: #0399b5;
	border-left-color: #e3007a;
}
header .navbar .dropdown-toggle:after {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	bottom: 13px;
	border-top-color: #a9a9a9;
}
header .navbar.navbar-expand-lg .nav-item:hover .dropdown-toggle:after {
	border-top-color: #fff;
}
/*========================== HOMEPAGE ==========================*/
#foundationPage .banner {
	padding: 300px 0 0;
	position: relative;
	background: url(../img/banner-foundation.jpg) no-repeat center center / cover;
}
#foundationPage .banner .intro {
	color: #fff;
	background: #0399b5;
	padding: 20px;
	border-radius: 5px 5px 0 0;
}
#foundationPage .ourTeam .filter {
	margin-left: auto;
}
#foundationPage .ourTeam .filter a {
	display: inline-block;
	color: #959595;
}
#foundationPage .ourTeam .filter a:hover,
#foundationPage .ourTeam .filter a.active {
	color: #23253a;
}
#foundationPage .ourTeam .filter a:not(:last-child) {
	margin-right: 15px;
}
#foundationPage .ourTeam .stats .item {
	background: #e5e5e5;
	padding: 20px;
	border-radius: 5px;
}
#foundationPage .members {
	padding: 10px 0;
}
#foundationPage .members .item {
	width: 10%;
	margin: 10px 0;
}
#foundationPage .community .social {
	font-size: 18px;
	margin-top: 20px;
}
#foundationPage .community .social a {
	color: #000;
}
#foundationPage .community .social .icon {
	
}
#foundationPage .community .social ul li {
	margin-bottom: 10px;
}
#foundationPage .events .year a {
	color: #959595;
}
#foundationPage .events .year a:hover,
#foundationPage .events .year a.active {
	color: #23253a;
}
#foundationPage .events .year li {
	margin-bottom: 10px;
}
#foundationPage .events .listEvents a {
	display: block;
	padding-right: 30px;
	position: relative;
	border-bottom: 1px solid #b3b3b3;
	padding-bottom: 10px;
	margin-bottom: 10px;
	color: #636363;
}
#foundationPage .events .listEvents a:after {
	content:"\00bb";
	position: absolute;
	right: 0;
	top: 0;
}
/*========== NEWSLETTER ==========*/
.newsletter .btn {
	background: #e3007a;
	color: #fff;
	line-height: 100%;
	font-size: 35px;
	padding: 0 25px;
}
/*========================== PAGINATE ==========================*/
.pagination {
	margin: 30px 0;
	border: 1px solid #e3007a;
	border-radius: 5px;
}
.pagination a,
.pagination span {
	display: inline-block;
	padding: 10px;
}
.pagination a {
	color: #e3007a;
}
.pagination .p-pre {
	border-right: 1px solid #e3007a;
}
.pagination .p-next {
	border-left: 1px solid #e3007a;
}
/*========================== FOOTER ==========================*/
footer {
	background: #23253a;
	padding: 40px 0;
	color: #fff;
}
footer a {
	color: #fff;
}
footer .footerLogo {
	width: 200px;
	display: block;
	margin: 0 auto 60px;
}
footer .title {
	position: relative;
	margin-bottom: 15px;
}
footer .title:before {
	content: "";
	position: absolute;
	left: 0;
	bottom: 5px;
	width: 100%;
	height: 1px;
	background: #fff;
}
footer .title span {
	display: inline-block;
	background: #23253a;
	position: relative;
	padding-right: 5px;
}
footer .menuFooter ul {
	margin-left: -15px;
	margin-bottom: 30px;
}
footer .menuFooter ul li {
	margin-bottom: 8px;
}
footer .social .item {
	display: inline-flex;
	width: 45px;
	height: 45px;
	color: #0494b0;
	border: 2px solid #0494b0;
	border-radius: 50%;
	line-height: 1;
	align-items: center;
	justify-content: center;
	font-size: 25px;
	margin: 0 5px 20px;
}
footer .copyright {
	margin-bottom: 30px;
}
/*========================== RESPONSIVE ==========================*/
@media (max-width: 1440px) {
	
}
@media (max-width: 1366px) {
	
}
@media (max-width: 1024px) {
	
}
@media (max-width: 992px) {
	header .navbar-toggler:focus {
		box-shadow: none;
	}
	header .navbar .dropdown-toggle:after {
		transform: none;
		left: auto;
		right: 10px;
		bottom: auto;
		top: 50%;
		transform: translateY(-50%);
	}
	header .navbar-collapse {
		padding-top: 20px;
	}
	header .navbar.navbar-expand-lg .nav-link {
		padding: 8px 10px;
	}
	.nav-tabs .nav-item .nav-link {
		padding: 10px;
	}
	#foundationPage .banner {
		padding-top: 100px;
	}
	#foundationPage .members .item {
		width: 20%;
	}
}
@media (max-width: 768px) {
	header .top {
		padding: 10px;
	}
	header .top .link a {
		padding: 5px 10px;
		margin: 0;
	}
	header .top .search {
		padding: 0 10px;
		margin: 0 10px;
	}
	header .top .search i {
		width: 25px;
		height: 25px;
		font-size: 14px;
	}
	header .top .language .btn {
		font-size: 14px;
	}
	header .top .language .btn i {
		font-size: 20px;
	}
	header .navbar {
		padding: 0 10px;
	}
	section {
		padding: 20px 0;
	}
	section .sectionHeading {
		font-size: 22px;
	}
	section .sectionSubHeading {
		font-size: 18px;
	}
	#foundationPage .ourTeam .stats .item {
		padding: 10px;
		margin-bottom: 10px;
	}
	#foundationPage .members .item {
		width: 33.333%;
	}
	#foundationPage .community .shadow {
		margin-top: 20px;
	}
	#foundationPage .events h6 {
		font-size: 14px;
	}
	#foundationPage .ourTeam .filter {
		margin: 10px 0 0 0;
	}
}
@media (max-width: 576px) {
	
}